---
layout: page

---

{{ content }}


{% if page.collection and page.collection.size > 0 %}
  {% assign collection = site[page.collection] %}
  {% if collection and collection.size > 0 %}


    {% assign sorted_books = collection | sort: "subject" %}
    {% assign previous_subject = "" %}

    {% for item in sorted_books %}
      {% assign current_subject = item.subject | strip | capitalize %}

      {% if current_subject != previous_subject %}
        {% unless forloop.first %}
          </div>
        {% endunless %}
        <h2 id="subject-{{ current_subject | slugify }}">
          {{ item.subject }}
        </h2>
        <div class="book-grid">
        {% assign previous_subject = current_subject %}
      {% endif %}

      <figure class="cover">
        <a class="cover-link" href="{{ item.url | relative_url }}">
          {% if item.cover %}
            <img alt="{{ item.title }} cover" src="{{ item.cover | prepend: page.covers | relative_url }}" style="height:200px">
          {% elsif item.olid %}
            <img alt="{{ item.title }} cover" src="http://covers.openlibrary.org/b/olid/{{ item.olid }}-L.jpg?default=false" style="height:200px">
          {% elsif item.isbn %}
            <img alt="{{ item.title }} cover" src="http://covers.openlibrary.org/b/isbn/{{ item.isbn }}-L.jpg?default=false" style="height:200px">
          {% endif %}

          {% if item.status %}
            {% assign statuses = 'abandoned,finished,interested,paused,queued,reading,reread' | split: ',' %}
            {% assign status = item.status | downcase | strip %}
            {% if statuses contains status %}
              <figcaption class="{{ status }}">{{ status | upcase }}</figcaption>
            {% endif %}
          {% endif %}
        </a>
      </figure>

      {% if forloop.last %}
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endif %}
